.overhead {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all, 0.75s, ease-in-out;
}
.loading {
	background: rgba(58, 111, 150, 0.7) none repeat scroll 0% 0%;
	text-align: center;
	font-size: 3em;
	font-family: cursive;
	z-index: 9002;
}
.spinner {
	width: 100px;
	height: 100px;
	background-image: url('../img/sr.png');
	/*background-color: #940000;*/
	transition: all, 0.75s, ease-in-out;
	background-size: 100%;
	margin: 100px auto;
	-webkit-animation: rotateplane 1.2s infinite ease-in-out;
	animation: rotateplane 3s infinite ease-in-out;
}
@-webkit-keyframes rotateplane {
	0% { -webkit-transform: perspective(30px); background-color:black; }
	50% { -webkit-transform: perspective(120px) rotateY(180deg) }
	100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
	0% { 
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		opacity: 1;
		border-radius: 10%;
	} 
	25% { 
		transform: perspective(120px) rotateX(180deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(180deg) rotateY(0deg);
		opacity: 0.5;
		border-radius: 60%;
	} 
	50% { 
		transform: perspective(120px) rotateX(360) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(360deg) rotateY(0deg);
		opacity: 1;
		border-radius: 85%;
	} 
	75% { 
		transform: perspective(120px) rotateX(0deg) rotateY(180deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(180deg);
		opacity: 0.5;
		border-radius: 60%;
	} 
	100% { 
		transform: perspective(120px) rotateX(0deg) rotateY(360deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(360deg);
		opacity: 1;
		border-radius: 10%;
	}
}


