.desk {
	padding: 1% 0%;
}
.list {
	float: left;
	display: block;
	margin-top: 1%;
	margin-right: 1%;
	border: 1px black solid;
	padding: 5%;
}
.tt-menu {
	padding: 8px 0px;
	background-color: #FFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.tt-suggestion {
	padding: 3px 20px;
	line-height: 24px;
}
.twitter-typeahead {
	width: 100%;
	margin-top: 1%;
}
.popup-msg {
	position: absolute;
	top: 0px;
	left: 60%;
	right: 0%;
	z-index: 9001;
	text-align: center;
	transition: all, 0.75s, ease-in-out;
}